<?xml version="1.0"?>
<config>
	<modules>
		<O2TI_Moip>
			<version>0.2.3</version>
		</O2TI_Moip>
	</modules>
	<global>
		<models>
			<moip>
				<class>O2TI_Moip_Model</class>
			</moip>
		</models>
		<resources>
			<moip_setup>
				<setup>
					<module>O2TI_Moip</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</moip_setup>
			<moip_write>
				<connection>
					<use>core_write</use>
				</connection>
			</moip_write>
			<moip_read>
				<connection>
					<use>core_read</use>
				</connection>
			</moip_read>
		</resources>
		<blocks>
			<moip>
				<class>O2TI_Moip_Block</class>
			</moip>
		</blocks>
		<helpers>
			<moip>
				<class>O2TI_Moip_Helper</class>
			</moip>
		</helpers>
		<template>
			<email>
				<o2ti_ordem_tpl module="moip">
					<label>Email da Cancelamento</label>
					<file>statusmail_cancelado_o2ti.html</file>
					<type>html</type>
				</o2ti_ordem_tpl>
			</email>
		</template>
		<events>
			<moip_order_authorize>
				<observers>
					<moip_order_create_invoice>
						<class>moip/observer</class>
	    				<method>generateInvoice</method>
					</moip_order_create_invoice>
				</observers>
			</moip_order_authorize>
		</events>
	</global>
	<frontend>
		<routers>
			<moip>
				<use>standard</use>
				<args>
					<module>O2TI_Moip</module>
					<frontName>Moip</frontName>
				</args>
			</moip>
		</routers>
		<translate>
			<modules>
				<moip>
					<files>
						<default>moip.csv</default>
					</files>
				</moip>
			</modules>
		</translate>
		<layout>
			<updates>
				<moip>
					<file>o2ti_moip.xml</file>
				</moip>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<O2TI_Moip>
				<use>admin</use>
				<args>
					<module>O2TI_Moip</module>
					<frontName>moip</frontName>
				</args>
			</O2TI_Moip>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<moip>
					<files>
						<default>moip.csv</default>
					</files>
				</moip>
			</modules>
		</translate>
	<layout>
	<updates>
		<moip>
			<file>moip.xml</file>
		</moip>
	</updates>
	</layout>
		<events>
			<adminhtml_block_html_before>
				<observers>
					<O2TI_Moip_OrderAuthorize>
						<class>moip/observer</class>
						<method>addOptionToSelect</method>
					</O2TI_Moip_OrderAuthorize>
				</observers>
			</adminhtml_block_html_before>
		</events>
	</adminhtml>
	<crontab>
		<jobs>
			<cancelarBoleto>
				<schedule>
					<cron_expr>00 01 * * *</cron_expr>
				</schedule>
				<run>
					<model>Moip/Orders::cancel</model>
				</run>
			</cancelarBoleto>
		</jobs>
	</crontab>
	<default>
		<payment>
			<o2ti_moip_standard>
				<active>1</active>
				<model>O2TI_Moip_Model_Standard</model>
				<title><![CDATA[Moip]]></title>
				<mensagem_redirect_moip><![CDATA[<p>Seu pedido não foi processado, favor efetuar o pagamento.</p><p>Você será redirecionado para o <b>Moip</b> em alguns instantes.</p>]]>
				</mensagem_redirect_moip>
				<title>Pagamento 100% Seguro - MoIP | Grupo IG</title>
				<validopara_moip>1</validopara_moip>
				<conta_moip>elisei</conta_moip>
				<apelido>Instalação Padrão O2TI | ALTERE PARA O NOME DA SUA EMPRESA</apelido>
				<idgoogle>UA-33860171-1</idgoogle>
				<tipoderecebimento>1</tipoderecebimento>
				<pagamento_direto>1</pagamento_direto>
				<parcelamento>1</parcelamento>
				<parcelamento_de1>1</parcelamento_de1>
				<parcelamento_ate1>12</parcelamento_ate1>
				<parcelamento_juros1>1.99</parcelamento_juros1>
				<nummaxparcelamax>12</nummaxparcelamax>
				<valorminimoparcela>5</valorminimoparcela>
				<vcmentoboleto>3</vcmentoboleto>
				<estoqueboleto>-99</estoqueboleto>
				<ambiente>teste</ambiente>
				<allowspecific>0</allowspecific>
			</o2ti_moip_standard>
		</payment>
	</default>
</config>
